.servico-content {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 350px;
}
.servicos-item {
    margin-bottom: 120px;
}

.servicos-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.servico-icon {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    width: 400px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.marcador{
    
    display: flex;
    justify-content: flex-end;
    margin-left: 80px;
    
      
}

.ladoesquerdo{
    display: flex;
    justify-content: flex-end;
    margin-left: 2280px;
}