<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_87ff6202a68744278c5b4b289fd996b6 {
                    position: relative;
                    width: 75.0%;
                    height: 75.0%;
                    left: 12.5%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_87ff6202a68744278c5b4b289fd996b6" ></div>
        
</body>
<script>    
    
            var map_87ff6202a68744278c5b4b289fd996b6 = L.map(
                "map_87ff6202a68744278c5b4b289fd996b6",
                {
                    center: [-23.5964988, -46.7178446],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c6c9261b80684ff0b92a5957b20c5e2c = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_87ff6202a68744278c5b4b289fd996b6);
        
    
            var marker_39087a4926d04405b93be7964cc0585e = L.marker(
                [-23.5964988, -46.7178446],
                {}
            ).addTo(map_87ff6202a68744278c5b4b289fd996b6);
        
    
        var popup_f594b26c718d4f679b44b593d56ad0be = L.popup({"maxWidth": "100%"});

        
            var html_1b5d606542dc4e7b8441b10af0bcae9b = $(`<div id="html_1b5d606542dc4e7b8441b10af0bcae9b" style="width: 100.0%; height: 100.0%;">POrras</div>`)[0];
            popup_f594b26c718d4f679b44b593d56ad0be.setContent(html_1b5d606542dc4e7b8441b10af0bcae9b);
        

        marker_39087a4926d04405b93be7964cc0585e.bindPopup(popup_f594b26c718d4f679b44b593d56ad0be)
        ;

        
    
</script>