<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4f222d13d6474828a01081a9a2adcee5 {
                    position: relative;
                    width: 75.0%;
                    height: 75.0%;
                    left: 12.5%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_4f222d13d6474828a01081a9a2adcee5" ></div>
        
</body>
<script>    
    
            var map_4f222d13d6474828a01081a9a2adcee5 = L.map(
                "map_4f222d13d6474828a01081a9a2adcee5",
                {
                    center: [41.735969, -87.585197],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_db3a77a82c5a4d7c9cc5812e1baca924 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4f222d13d6474828a01081a9a2adcee5);
        
    
            var marker_655828168d9747d28c27a4aef64793b1 = L.marker(
                [41.735969, -87.585197],
                {}
            ).addTo(map_4f222d13d6474828a01081a9a2adcee5);
        
    
        var popup_015aecf73c7641fc8532fbdae9003771 = L.popup({"maxWidth": "100%"});

        
            var html_88cd52e55ed445b4a7d9abaac169ccc1 = $(`<div id="html_88cd52e55ed445b4a7d9abaac169ccc1" style="width: 100.0%; height: 100.0%;">Dunkin' Donuts</div>`)[0];
            popup_015aecf73c7641fc8532fbdae9003771.setContent(html_88cd52e55ed445b4a7d9abaac169ccc1);
        

        marker_655828168d9747d28c27a4aef64793b1.bindPopup(popup_015aecf73c7641fc8532fbdae9003771)
        ;

        
    
</script>